<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="static/images/spartanimg1.jpeg" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is SpartanBot. How can I help you?</p>
                </div>
                <div id = "display_image"></div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <label>
                    <img src="static/images/imagebutton.png">
                    <input class="image_input" id="image" type="file" name="myfile" style="display:none">
                </label>
<!--                <form class="form" action="#" method="post">-->
<!--                    <input type="file" name="Image" id="image" multiple="" class="d-none">-->
<!--                    <button class="btn btn-sm btn-primary" type="button" onclick="document.getElementById('image').click()"> Image</button>-->
<!--                </form>-->
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>